
.selectedPage {
    width: 50px;
    font-weight: bold;
    padding: 0px 10px;
    margin: 5px;
    border: 1px solid rgb(25, 104, 23);
    border-radius: 20%;
    cursor: pointer;
    background: rgb(25, 104, 23);
}
.noSelected {
    width: 50px;
    padding: 0px 10px;
    margin: 5px;
    border: 1px solid rgb(157, 196, 17);
    border-radius: 20%;
    cursor: pointer;
    background: rgb(157, 196, 17);
}
.top {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
}