.header {
    grid-area: h;
    background-color: orange;
    position: relative;
}
   
.header img {
     width: 50px;
     position: absolute;
     left: 0px;
     top: 0;
     bottom: 0;
     right: 91%;
     margin: auto;
     border-radius: 25%;     
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}