.nav {
    grid-area: n;
    background-color: green;
}
.item {
    color: #fff;
    margin: 25px 25px;     
    font-size: 20px;
    transition: all 1s;
}

.item:hover {
    color: #ff6600;
    cursor: pointer;
    border-bottom: 1px solid #ff6600;
}